@import url("normalize.css");

*
{
	border:0;
	margin: 0;
	padding: 0;	
}

@font-face{
	font-family:'DancingScript';
	src:url('../fuentes/DancingScript-regular.otf');
}

body
{
	background: #02010a;
	font-family: DancingScript;	
}


/*sombra de todas las imagenes*/
.sombra
{
	box-shadow: 2px 2px 0 0 #02010a;
	-webkit-box-shadow-right: 2px 2px 0 0 #02010a;
	-moz-box-shadow-right: 2px 2px 0 0 #02010a;	
}

header
{
	border-radius: 10px 10px 0 0;	
	display: flex;	
	flex-flow:row wrap;	
	background: #5b7989;
	padding: 1vw;
	color: white;
}
footer
{
	background: #C6d5c5;		
	border-radius:0 0 10px 10px;

}
.menu>li
{
	padding: 0 1vw;
	display: inline;
}
.menu>li>a
{
	display: inline;
	color:white;
}

/*clase para los enlaces*/
.pantalla
{
	display: block;
}

/*clase para el porcentaje de las imagenes secundarias y el metodo transition-duration*/
.porcentaje
{
	margin-top: 2em;
	width: 70%;
	height: 70%;
	transition-duration: 2s;
}

/*clase para la transformacion rotate en hover*/
.rotate:hover 
{

	box-shadow: 2px 2px 0 0 #82c3a6 ;
	-webkit-box-shadow-right: 2px 2px 0 0 #82c3a6 ;
	-moz-box-shadow-right: 2px 2px 0 0 #82c3a6 ;
	transform: rotateZ(10deg);
	transition-duration: 2s;

}
/*clase para la transformacion translate en hover*/
.translate:hover
{
	box-shadow: 2px 2px 0 0 #82c3a6 ;
	-webkit-box-shadow-right: 2px 2px 0 0 #82c3a6 ;
	-moz-box-shadow-right: 2px 2px 0 0 #82c3a6 ;
	transform: translate(20px, -5px);
	transition-duration: 2s;		
}

/*adaptando la imagen principal*/
.adaptativa-porcentaje
{				
		margin-top: 3em;
		width:80%;
}

/*efectos de imagen*/
#uno
{
	filter:blur(10px);	

}
.par
{
	filter:grayscale(100%);

}
.sep
{
	filter:sepia(90%);
}

/*version para desktop*/

@media (min-width: 900px){

	#contenido
	{	
		margin:0 auto;
		max-width:900px;
	}	

	header h1
	{		
		text-shadow:0 0 2px #02010a;
		width: 50%;	
	}
	header nav
	{		
		padding-top: 2vw;
		margin-right: 4vw;
		text-align: right;
		width: 40%;			
	}	
	
	a[href="Index.html"]
	{
		text-decoration: none;
	}

	#primaria
	{
		text-align: center;
		background: #82c3a6;
	}
	

	.secundaria  
	{
		display: flex;
		flex-direction:row;		
		background: #d5c75f;
		border:1px;
	}			

	#galeria
	{
		background: #d5c75f;		
		display: flex;
		flex-flow:row wrap;			
		
	}

	#galeria p
	{
		padding: 30px;
		width: 26.6%;		
	}

	
	.model
	{
		
		width:100%;
	}
	
	#pie
	{		
		display: flex;
		flex-flow:row wrap;
		padding: 1vw;
	}

	#pie h1
	{
		text-align: left;
		margin:0 auto;
		width: 17%;
	}
	.alto
	{
		line-height:30px;
		font-size: 1.2vw;
	}	
	
	.alin li
	{
		text-align: left;		
		display: block;	
		
	}
	.alin li a
	{
		text-decoration: none;
		color: black;

	}
	.tamano
	{		
		width:25%;
		height: 20%;		

	}


	@keyframes contenido-animacion 
	{
		0% 
		{
			position: relative;
			margin-top: 150%;
		}
		60% 
		{
			position: relative;
			margin-top: -5%;
		}
		100% 
		{
			position: relative;
			margin-top: 0%;
		}
	}
	#contenido 
	{
		animation-name: contenido-animacion;
		animation-duration: 1s;
		-webkit-animation-slidein: 1s;
		-moz-animation-slidein: 1s;
		-o-animation-slidein: 1s;
		animation-slidein: 1s;
	}

}
/*version para movil*/
@media (max-width: 899px) {
	#contenido
	{		
		margin: auto;
		padding: 2vw;
		max-width:100%;
	}
	
	
	header h1
	{	
		color:white;
		text-shadow:0 0 2px #02010a;
		text-align: center;
		width: 100%;
	}
	

	header nav
	{
		text-align: center;
		margin-bottom: 1.5vw;
		width: 100%;
	}

	a[href="Index.html"]
	{
		text-decoration: underline;
	}	
	section
	{

		text-align: center;
		background: #82c3a6;
	}
	
	.secundaria  
	{
		display: flex;
		flex-direction:column;		
		background: #d5c75f;
		margin:0 auto;
	}
	
	.tamano
	{	
		display: block;		
		width: 20%;
		margin: 0.2em auto;

	}

	#galeria
	{
		background: #d5c75f;		
		display: flex;
		flex-direction:column;	
		
	}
	
	#galeria p
	{
		
		width: 100%;
		padding-top: 10px;
		
	}
	
	.model
	{
		
		margin:10px;
		width:80%;
	}

	#pie
	{	
		background: none;
		display: flex;
		flex-flow:column wrap;	
		width: 100%;
	}
	#pie h1
	{
		
		padding: 0.5em 0;
		padding: 0.5em;
		text-align: left;
		margin:0 auto;
		width: 87%;
	
	}
	.alto
	{
		line-height:30px;
		font-size: 0.5em;
	}
	
	.alin li
	{		
		list-style: none;		
		text-align: left;	
		width: 100%;
		
	}
	.alin li a

	{
			
		text-decoration: none;	
		color: black;
	}

	.tamano
	{		
		margin: 0;
		display: inline;
		width:20%;
		height: 20%;		

	}

	@keyframes contenido-animacion 
	{
		0% 
		{
			position: relative;
			margin-top: 150%;
		}
		60% 
		{
			position: relative;
			margin-top: -5%;
		}
		100% 
		{
			position: relative;
			margin-top: 0%;
		}
	}
	#contenido 
	{
		animation-name: contenido-animacion;
		animation-duration: 1s;
		-webkit-animation-slidein: 1s;
		-moz-animation-slidein: 1s;
		-o-animation-slidein: 1s;
		animation-slidein: 1s;
	}

}

